.App {
  height: 100vh;
  width: 100vw;
}

/* Table */
.table-wrapper {
  width: 400px;
  height: 500px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.table-cell {
  height: 100px;
  width: 100px;
  text-align: center !important;
}

.buttons {
  display: flex;
  justify-content: center;
}

.game-over-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 100px;
  right: 0;
  background: #d3d3d3b5;
  text-align: center;
  text-align: -webkit-center;
}
.game-over-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
